{% macro render_field_dis(field) %}
<div class="form-group">
    <div class="row">
        <div class="col-md-6 lead"> {{ field.label }}</div>
        <div class="col-md-6"> {{ field(class_="form-control",disabled=True) }}</div>
    </div>
</div>
{% endmacro %}

{% macro render_field_2_dis(field1, field2) %}
<tr class="row">
    <td class="col-3"> {{ field1.label }}</td>
    <td class="col-3"> {{ field1(disabled=True) }}</td>
    <td class="col-3"> {{ field2.label }}
    <td class="col-3"> {{ field2(disabled=True) }}</td>
</tr>
{% endmacro %}

{% macro render_month_dis(Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec) %}
<table class="table table-hover table-striped table-bordered">
    <tr class="row">
        <td class="col-3 lead"> {{ Jan.label }}</td>
        <td class="col-3 lead"> {{ Jan(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Jul.label }}</td>
        <td class="col-3 lead"> {{ Jul(class_="form-control",disabled=True) }}</td>
    </tr>
    <tr class="row">
        <td class="col-3 lead"> {{ Feb.label }}</td>
        <td class="col-3 lead"> {{ Feb(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Aug.label }}</td>
        <td class="col-3 lead"> {{ Aug(class_="form-control",disabled=True) }}</td>
    </tr>
    <tr class="row">
        <td class="col-3 lead"> {{ Mar.label }}</td>
        <td class="col-3 lead"> {{ Mar(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Sep.label }}</td>
        <td class="col-3 lead"> {{ Sep(class_="form-control",disabled=True) }}</td>
    </tr>
    <tr class="row">
        <td class="col-3 lead"> {{ Apr.label }}</td>
        <td class="col-3 lead"> {{ Apr(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Oct.label }}</td>
        <td class="col-3 lead"> {{ Oct(class_="form-control",disabled=True) }}</td>
    </tr>
    <tr class="row">
        <td class="col-3 lead"> {{ May.label }}</td>
        <td class="col-3 lead"> {{ May(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Nov.label }}</td>
        <td class="col-3 lead"> {{ Nov(class_="form-control",disabled=True) }}</td>
    </tr>
    <tr class="row">
        <td class="col-3 lead"> {{ Jun.label }}</td>
        <td class="col-3 lead"> {{ Jun(class_="form-control",disabled=True) }}</td>
        <td class="col-3 lead"> {{ Dec.label }}</td>
        <td class="col-3 lead"> {{ Dec(class_="form-control",disabled=True) }}</td>
    </tr>
</table>

{% endmacro %}

