{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Enter Collection Area Details</h1>
            <p class="lead">Enter your roof and non-roof area (if applicable).</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('roof_collection_area') }}" role="button"> Roof Collection Area</a>
                <a class="btn btn-primary btn-lg" href="{{ url_for('non_roof_collection_area') }}" role="button"> Non-Roof Collection Area </a>
                <a class="btn btn-primary btn-lg" href="{{ url_for('user_index') }}" role="button">Next</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}