{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Rain Cycle Rainwater Harvesting</h1>
            <p class="lead">We're here to calculate the best tank size for your rainwater harvesting project</p>
            <hr class="my-4">
            <!-- p>Select the buttons to fill up the information</p!-->
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('register_data') }}" role="button">New User?</a>
                <a class="btn btn-primary btn-lg" href="{{ url_for('login_data') }}" role="button">Sign In</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}