{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field, render_field_2, render_month %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Enter Data for Indoor Demands</h1>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('indoordemand') }}" method="post">

        <h1 class="text-primary"> Toilets and Urinals </h1>
        <hr>
        <hr>

        {{ render_field(form.AvFlushperPerson) }}
        {{ render_field(form.AvGalperFlushToilets) }}
        {{ render_field(form.AvGalperFlushUrinals) }}

        <h3>Average Occupancy of male per day</h3>
        {{ render_month(form.OccupJan, form.OccupFeb, form.OccupMar, form.OccupApr, form.OccupMay, form.OccupJun,
        form.OccupJul, form.OccupAug, form.OccupSep, form.OccupOct, form.OccupNov, form.OccupDec) }}
        <br><br>
        <hr>
        <hr>
        <h3>Average Occupancy of female per day</h3>
        {{ render_month(form.UrinalJan, form.UrinalFeb, form.UrinalMar, form.UrinalApr, form.UrinalMay, form.UrinalJun,
        form.UrinalJul, form.UrinalAug, form.UrinalSep, form.UrinalOct, form.UrinalNov, form.UrinalDec) }}
        <br><br>

        <h1 class="text-primary"> Ice Making </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.IceMakingJan, form.IceMakingFeb, form.IceMakingMar, form.IceMakingApr, form.IceMakingMay,
        form.IceMakingJun, form.IceMakingJul, form.IceMakingAug, form.IceMakingSep, form.IceMakingOct,
        form.IceMakingNov, form.IceMakingDec) }}
        <br><br>

        <h1 class="text-primary"> Cooling Tower </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.CoolingTowerJan, form.CoolingTowerFeb, form.CoolingTowerMar, form.CoolingTowerApr, form.CoolingTowerMay,
        form.CoolingTowerJun, form.CoolingTowerJul, form.CoolingTowerAug, form.CoolingTowerSep, form.CoolingTowerOct,
        form.CoolingTowerNov, form.CoolingTowerDec) }}
        <br><br>

        <h1 class="text-primary"> Ice for Ice Skating </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.IceSkatingJan, form.IceSkatingFeb, form.IceSkatingMar, form.IceSkatingApr, form.IceSkatingMay,
        form.IceSkatingJun, form.IceSkatingJul, form.IceSkatingAug, form.IceSkatingSep, form.IceSkatingOct,
        form.IceSkatingNov, form.IceSkatingDec) }}
        <br><br>

        <h1 class="text-primary"> Others (Mop Sinks, Trap Primers etc) </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.OtherIndoorJan, form.OtherIndoorFeb, form.OtherIndoorMar, form.OtherIndoorApr, form.OtherIndoorMay,
        form.OtherIndoorJun, form.OtherIndoorJul, form.OtherIndoorAug, form.OtherIndoorSep, form.OtherIndoorOct,
        form.OtherIndoorNov, form.OtherIndoorDec) }}
        <br><br>

        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Data">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </form>
</div>
{% endblock %}