{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Enter Data for Non-Roof Collection Area</h1>
        </div>
    </div>
</div>

<form action="{{ url_for('non_roof_collection_area') }}" method="post">
    <div class="container">
        <h1 class="text-primary"> Impervious Surface </h1>
        <hr>
        <hr>

        <p class="lead"> Asphault / Concrete </p>
        <div class="jumbotron">
            {{ render_field(form.NonRoofImperviousAsphaultArea) }}
            {{ render_field(form.NonRoofImperviousAsphaultRunoffCoeff) }}
        </div>
        <p class="lead"> Brick </p>
        <div class="jumbotron">
            {{ render_field(form.NonRoofImperviousBrickArea) }}
            {{ render_field(form.NonRoofImperviousBrickRunoffCoeff) }}
        </div>
        <p class="lead"> Others... </p>
        <div class="jumbotron">
            {{ render_field(form.NonRoofImperviousOtherArea) }}
            {{ render_field(form.NonRoofImperviousOtherRunoffCoeff) }}
        </div>

        <h1 class="text-primary"> Semi-Pervious Surface</h1>
        <hr>
        <hr>

        <h2 class="text-primary"> Grass / Turf </h2>
        <p class="lead"> Sandy Soil </p>
        <p class="lead"> Flat, 2% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfSandyFlatArea) }}
            {{ render_field(form.SemiperviousGrassTurfSandyFlatRunoffCoeff) }}
        </div>
        <p class="lead"> Average, 2-7% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfSandyAvArea) }}
            {{ render_field(form.SemiperviousGrassTurfSandyAvRunoffCoeff) }}
        </div>
        <p class="lead"> Steep, greater than 7% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfSandySteepArea) }}
            {{ render_field(form.SemiperviousGrassTurfSandySteepRunoffCoeff) }}
        </div>

        <p class="lead"> Clay Soil </p>
        <p class="lead"> Flat, 2% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfClayFlatArea) }}
            {{ render_field(form.SemiperviousGrassTurfClayFlatRunoffCoeff) }}
        </div>
        <p class="lead"> Average, 2-7% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfClayAvArea) }}
            {{ render_field(form.SemiperviousGrassTurfClayAvRunoffCoeff) }}
        </div>
        <p class="lead"> Steep, greater than 7% </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGrassTurfClaySteepArea) }}
            {{ render_field(form.SemiperviousGrassTurfClaySteepRunoffCoeff) }}
        </div>


        <p class="lead"> Gravel Area </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousGravelArea) }}
            {{ render_field(form.SemiperviousGravelRunoffCoeff) }}
        </div>

        <p class="lead"> Landscape Area </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousLandScapeArea) }}
            {{ render_field(form.SemiperviousLandScapeRunoffCoeff) }}
        </div>

        <p class="lead"> Forested Area </p>
        <div class="jumbotron">
            {{ render_field(form.SemiperviousForestedArea) }}
            {{ render_field(form.SemiperviousForestedRunoffCoeff) }}
        </div>

        <h1 class="text-primary"> Engineered Semi-pervious Surface (e.g. Porous Pavement) </h1>
        <hr>
        <hr>

        <div class="jumbotron">
            {{ render_field(form.EngineeredSemiperviousArea) }}
            {{ render_field(form.EngineeredSemiperviousRunoffCoeff) }}
        </div>

        <h1 class="text-primary"> Other </h1>
        <hr>
        <hr>

        <div class="jumbotron">
            {{ render_field(form.OtherArea) }}
            {{ render_field(form.OtherRunoffCoeff) }}
        </div>

    </div>

    <div class="container">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Data">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}