{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field, render_field_2, render_month %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Enter Data for Outdoor Demands</h1>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('outdoordemand') }}" method="post">

        <h1 class="text-primary"> Spray Irrigation </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.SprayIrrigationJan, form.SprayIrrigationFeb, form.SprayIrrigationMar, form.SprayIrrigationApr, form.SprayIrrigationMay, form.SprayIrrigationJun,
        form.SprayIrrigationJul, form.SprayIrrigationAug, form.SprayIrrigationSep, form.SprayIrrigationOct, form.SprayIrrigationNov, form.SprayIrrigationDec) }}
        <br><br>

        <h1 class="text-primary"> Drip Irrigation </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.DripIrrigationJan, form.DripIrrigationFeb, form.DripIrrigationMar, form.DripIrrigationApr, form.DripIrrigationMay,
        form.DripIrrigationJun, form.DripIrrigationJul, form.DripIrrigationAug, form.DripIrrigationSep, form.DripIrrigationOct,
        form.DripIrrigationNov, form.DripIrrigationDec) }}
        <br><br>

        <h1 class="text-primary"> Vehicular Washing </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.VehicularWashingJan, form.VehicularWashingFeb, form.VehicularWashingMar, form.VehicularWashingApr, form.VehicularWashingMay,
        form.VehicularWashingJun, form.VehicularWashingJul, form.VehicularWashingAug, form.VehicularWashingSep, form.VehicularWashingOct,
        form.VehicularWashingNov, form.VehicularWashingDec) }}
        <br><br>
        
        <h1 class="text-primary"> Others (Mop Sinks, Trap Primers etc) </h1>
        <hr>
        <hr>
        <h3>Volume </h3>
        {{ render_month(form.OtherOutdoorJan, form.OtherOutdoorFeb, form.OtherOutdoorMar, form.OtherOutdoorApr, form.OtherOutdoorMay,
        form.OtherOutdoorJun, form.OtherOutdoorJul, form.OtherOutdoorAug, form.OtherOutdoorSep, form.OtherOutdoorOct,
        form.OtherOutdoorNov, form.OtherOutdoorDec) }}
        <br><br>
        
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Data">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </form>
</div>
{% endblock %}