{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field, render_field_2, render_month %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h2> Reliability Graph </h2>
    </div>

    <div class="container">
        <form action="{{ url_for('rel_graph') }}" method="post">
            {{ render_field(form.start_point) }}
            {{ render_field(form.end_point) }}
            {{ render_field(form.step) }}
            {{ render_field(form.init_fill) }}
            {{ render_field(form.rel_percent) }}
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Parameters">
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </form>
        {{ figstr|safe }}
        {{ figstr2|safe }}

        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('res_page') }}" role="button">Go to Results</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>



</div>
{% endblock %}<!-- main_content -->

{% block scripts %}
{{ super() }}
{% endblock %}

