{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field, render_field_2, render_month %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h2> Reliability Graph </h2>
    </div>

    <div class="container">
        <div class="jumbotron">
            <form action="{{ url_for('tank_water') }}" method="post">
                {{ render_field(form.tanksize) }}
                {{ render_field(form.init_fill) }}
                {{ render_field(form.rel_percent) }}
                <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Data">
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
    {{ figstr|safe }}
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('res_page') }}" role="button">Go to Results</a>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
{% endblock %}<!-- main_content -->

{% block scripts %}
{{ super() }}
{% endblock %}

